.tarjeta{
    border-style: solid;
    border-radius: 60px;
    border-color: rgb(39, 82, 151);
    border-width: 5px;

    width: 40%;

    margin: 60px auto 25px;

    padding: 10px;

    text-align: center;

    box-sizing: border-box;

    img{
        width: 45%;
    }
}